target/classes/alunoflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="192.168.99.101" port="3306" user="fiapusr" password="fiap2019" database="fiapdb" doc:name="MySQL Configuration"/>
    <flow name="alunoflowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/aluno" allowedMethods="GET,POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="payload_var" value="#[payload]" doc:name="Variable"/>
        <logger message="#[flowVars.payload_var]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.method' == 'GET']">
                <db:select config-ref="MySQL_Configuration" doc:name="select ALUNO">
                    <db:parameterized-query><![CDATA[select * from ALUNO;]]></db:parameterized-query>
                </db:select>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties.'http.method' == 'POST']">
                <db:insert config-ref="MySQL_Configuration" doc:name="insert ALUNO">
                    <db:parameterized-query><![CDATA[INSERT INTO ALUNO VALUES 
(
#[message.payload.rm], 
#[message.payload.nome], 
#[message.payload.telefone], 
#[message.payload.EMAIL]
)]]></db:parameterized-query>
                </db:insert>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <set-payload value="#[flowVars.payload_var]" mimeType="application/json" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
        </choice>
    </flow>
</mule>
